<div class="quiz">
    <h3>{{ quizz.name }}</h3>
    <div class="questionnumber">Question {{ questionIndex + 1 }} / {{ quizz.questions|length }}</div>

    <div class="question">{{ question.questionText|raw }}</div>

    {% if success %}
        <div class="quiz-success"><i class="fa fa-thumbs-up"></i></div>
    {% else %}
        <div class="quiz-error"><i class="fa fa-thumbs-down"></i></div>
    {% endif %}

    <p>
        Correct answer : {{ question.correctAnswer+1 }} - {{ question.possibleAnswers[question.correctAnswer]|raw }}
    </p>

    <p>
    {% if quizz.questions|length == questionIndex + 1  %}
        <a class="btn-quiz" href="results?quizz={{ quizzIndex }}{% for previousAnswer in previousAnswers %}&previousAnswers[{{ loop.index0 }}]={{ previousAnswer }}{% endfor %}">Fin du test!</a>
    {% else %}
        {% spaceless %}<a class="btn-quiz" href="question?quizz={{ quizzIndex }}&question={{ questionIndex+1 }}{% for previousAnswer in previousAnswers %}&previousAnswers[{{ loop.index0 }}]={{ previousAnswer }}{% endfor %}">Question suivante!</a>{% endspaceless %}
    {% endif %}
    </p>
</div>