<div class="quiz">
    <h3>{{ quiz.name }}</h3>
    <div class="questionnumber">Question {{ questionIndex + 1 }} / {{ quiz.questions|length }}</div>

    <div class="question">{{ question.questionText|raw }}</div>

    <form action="quiz-answer" method="post">
    {% for possibleAnswer in question.possibleAnswers %}
        <p>
            <button name="answer" value="{{ loop.index0 }}" class="btn-quiz answer{{ loop.index }}">Answer {{ loop.index }} : {{ possibleAnswer|raw }}</button>
        </p>
    {% endfor %}
        <input type="hidden" name="quiz" value="{{ quizIndex }}" />
        <input type="hidden" name="question" value="{{ questionIndex }}" />
        {% for previousAnswer in previousAnswers %}
        <input type="hidden" name="previousAnswers[{{ loop.index0 }}]" value="{{ previousAnswer }}" />
        {% endfor %}
    </form>
</div>